<p>reactive form</p>
<div [formGroup]="form">
    <input formControlName="name">
    <input formControlName="email">
    <hr>
        <ng-container *ngIf="df?.length">
            <app-dyn-component-place
              [components]="df"
              [form]="dynamic"
              >
            </app-dyn-component-place>
        </ng-container>
        <ng-container *ngIf="!df">
          <h2>Init dynamic fields .....</h2>
        </ng-container>



</div>
<!-- <app-calendar-wrapper-val-accesor [formControl]="dateControl" >

</app-calendar-wrapper-val-accesor> -->