<p>reactive form</p>
<p-button [label]="'create new cf'" (onClick)="createNewCf()"></p-button>

<div class="main-container" [formGroup]="form">
  <div class="main-container__control-block">
    <input class="main-container__control" formControlName="name">
  </div>
  <div class="main-container__control-block">
    <input class="main-container__control" formControlName="email">
  </div>
    <hr>
        <ng-container *ngIf="df?.length">
            <app-dyn-component-place
              [components]="df"
              [form]="dynamic"
              >
            </app-dyn-component-place>
        </ng-container>
        <ng-container *ngIf="!df">
          <p-progressSpinner></p-progressSpinner>
        </ng-container>
</div>
<p-button label="save" (onClick)="save()"></p-button>


