.control-wrapper {
    width: 280px;
    height: 280px;
    background-color: rgba(182, 223, 224, 0.133);
    border: solid 0.1px #1212;
    padding: 10px;
    margin: 10px;
    margin-top: 4px;
    border-radius: 4px;
    box-shadow: 4px 4px 4px rgba(33, 71, 2, 0.133);
    &__edit-icon {
        display: flex;
        justify-content: space-between;;
        padding: 10px;
        background-color: #1212;
    }
    &__info {
        font-size: 12px;
        font-weight: bold;
    }
    &__icon {
       &:hover{
         cursor: pointer;
       } 
    }
}
.container {
    display: flex;

}