<div [formGroup]="form" class="container">
    <div *ngFor="let model of components">
        <div [ngSwitch]="model.type">
            <!--CALENDAR-->
            <div *ngSwitchCase="dynTypes.CALENDAR" class="control-wrapper">
                <div class="control-wrapper__edit-icon">
                    <i class="pi pi-pencil control-wrapper__icon" (click)="edit(model)"></i>
                </div>
                <app-calendar-wrapper-val-accesor
                    [validators]="model.validators"
                    [outsideDirty]="form.controls[model.name].dirty"
                    [control]="form.controls[model.name]"
                    formControlName="{{model.name}}" 
                    [label]="model.label">
                </app-calendar-wrapper-val-accesor>
            </div>
            

            
            <!--DROPDOWN-->


            <div *ngSwitchCase="dynTypes.DROPDOWN" class="control-wrapper">
                <div class="control-wrapper__edit-icon">
                    <i class="pi pi-pencil control-wrapper__icon" (click)="edit(model)"></i>
                </div>
                <app-dropdown-wrapper-val-accesor 
                    [validators]="model.validators"
                    [outsideDirty]="form.controls[model.name].dirty"
                    [options]="model.options"
                    [control]="form.controls[model.name]"
                    formControlName="{{model.name}}" 
                    [label]="model.label">
                </app-dropdown-wrapper-val-accesor>
            </div>

             <!--CALENDAR period-->
             <div *ngSwitchCase="dynTypes.CALENDAR_PERIOD" class="control-wrapper">
                <div class="control-wrapper__edit-icon">
                    <i class="pi pi-pencil control-wrapper__icon" (click)="edit(model)"></i>
                </div>
                <app-period-wrapper-val-accesor
                    [validators]="model.validators"
                    [outsideDirty]="form.controls[model.name].dirty"
                    [control]="form.controls[model.name]"
                    formControlName="{{model.name}}" 
                    [label]="model.label">
                </app-period-wrapper-val-accesor>
            </div>

            <!-- INPUT TEXT-->
            <div *ngSwitchCase="dynTypes.INPUT_TEXT" class="control-wrapper">
                <div class="control-wrapper__edit-icon">
                    <i class="pi pi-pencil control-wrapper__icon" (click)="edit(model)"></i>
                </div>
                <app-input-wrapper-val-accessor
                [validators]="model.validators"
                [outsideDirty]="form.controls[model.name].dirty"
                [control]="form.controls[model.name]"
                formControlName="{{model.name}}" 
                [label]="model.label"
                >
            </app-input-wrapper-val-accessor>
            </div>
        </div>
    </div>
</div>