<div class="cf-item-form" [formGroup]="form">
    <div class="cf-item-form__wrapper">
        <input formControlName="name" type="text" placeholder="name">
    </div>
    <div class="cf-item-form__wrapper">
        <p-dropdown formControlName="type" [options]="typesOption">
            
        </p-dropdown>
    </div>
    <div class="cf-item-form__wrapper">
        <input formControlName="label" type="text" placeholder="label">
    </div>
    <div class="cf-item-form__monaco-wrapper">
        <ngx-monaco-editor class="my-code-editor"  [options]="editorOptions" formControlName="sourceCode"></ngx-monaco-editor>
    </div>
    <p-button (onClick)="save()">Save</p-button>
    <p-button (onClick)="cancel()">Cancel</p-button>
</div>